[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "*"
google-cloud-bigquery = "*"
gunicorn = "*"
structlog = "*"
boto3= "*"
pydantic = "*"

[dev-packages]
pytest = "*"
pytest-env = "*"
mypy = "*"
black = "*"
pytest-cov = "*"
diagrams = "*"
behave = "*"
constructs = "*"
cdktf = "*"
cdktf-cdktf-provider-aws = "*"
cdktf-cdktf-provider-archive = "*"
pytest-watch = "*"
dirhash = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
