[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "*"
google-cloud-bigquery = "*"
gunicorn = "*"
structlog = "*"
boto3= "*"
flask = "*"
pydantic = "*"
pydantic-core = "*"

[dev-packages]
pytest = "*"
pytest-env = "*"
mypy = "*"
black = "*"
pytest-cov = "*"
diagrams = "*"
behave = "*"
constructs = "*"
cdktf = "*"
cdktf-cdktf-provider-aws = "*"
cdktf-cdktf-provider-archive = "*"
cdktf-cdktf-provider-google = "*"
cdktf-cdktf-provider-azure = "*"
cdktf-cdktf-provider-external = "*"
pytest-watch = "*"
dirhash = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true